@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+AU+NSW:wght@100..400&display=swap");
body {
  font-family: "Lato", sans-serif;
  font-weight: 800;
  font-style: normal;
  overflow-x: hidden;
}

html,
body {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}

.sidebar-icon {
  transition: all 0.3s ease;
  color: #b0fc51;
  background: #181818;
}
.sidebar-icon:hover {
  transform: scale(1.1);
}
.sidebar-icon.active {
  background: #b0fc51;
  color: #181818;
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(68, 239, 108, 0.3);
}
.tooltip {
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
}
.sidebar-icon:hover .tooltip {
  opacity: 1;
  visibility: visible;
  color: #b0fc51;
}
.progress-bar {
  transition: width 0.3s ease;
}

.Logo {
  font-family: "Bitcount Grid Single", system-ui;
  font-weight: 400;
  font-style: italic;
  font-size: 2rem;
  color: #b0fc51;
}

.logo-container {
  background: #181818;
}
.first-pic:hover {
  box-shadow: 0 10px 42px #b0fc51;
}
.head-icon {
  color: #b0fc51;
}
.head-icon a{
  font-size: 2rem;
}
.hire-me {
  background: #b0fc51;
  color: #181818;
}
.hire-me:hover {
  color: #b0fc51;
  background: rgb(41, 39, 39);
}

#ray {
  font-family: "Bitcount Grid Single", system-ui;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 2rem;
  line-height: 1;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #b0fc51;
}
#soft {
  font-family: "Bitcount Grid Single", system-ui;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 3rem;
  line-height: 1;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #b0fc51;
}
#passion {
  font-family: "Bitcount Grid Single", system-ui;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 3rem;
  line-height: 1;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #b0fc51;
}

.topicc {
  font-family: "Bitcount Grid Single", system-ui;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 2.5rem;
  line-height: 1;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #b0fc51;
}
#ten {
  font-size: 3.5rem;
}
.topic {
  font-family: "Playwrite AU NSW", system-ui;
  font-weight: 500;
  font-style: italic;
  font-size: 1.3rem;
}
/* ABOUT ME */
.about-card {
  width: 95%;
  padding: 1rem;
  margin-bottom: 3rem;
  height: 600px;
  background: linear-gradient(
    rgba(17, 24, 39, 0.4),
    rgba(176, 252, 81, 0.2),
    rgba(3, 7, 18, 0.4)
  );

  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
#about {
  font-family: "Playwrite AU NSW", system-ui;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: italic;
  font-size: 1.5rem;
  line-height: 1;
  letter-spacing: -0.05em;
}
.about-image:hover {
  box-shadow: 0 10px 42px #b0fc51;
}
.cv {
  color: #b0fc51;
  background: rgb(41, 39, 39);
}
.cv:hover {
  background: #b0fc51;
  color: #181818;
}

.skills-container {
  width: 95%;
  text-align: center;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 24px;
  margin: auto;
  padding: 4rem;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
  margin-top: 9rem;
  margin-bottom: 9rem;
  background: linear-gradient(
    rgba(17, 24, 39, 0.4),
    rgba(176, 252, 81, 0.2),
    rgba(3, 7, 18, 0.4)
  );
  box-shadow: 0 10px 42px #b0fc51;
}

.skills-header {
  margin-bottom: 80px;
}

.skills-subtitle {
  font-size: 2.5rem;
  font-weight: 500;
  color: #00ff88;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 16px;
  font-family: "Bitcount Grid Single", system-ui;
}

.skills-title {
  font-size: 1.2rem;
  font-weight: 700;
  color: #b0fc51;
  font-style: italic;
  line-height: 1.2;
  word-spacing: 0.3rem;
  font-family: "Playwrite AU NSW", system-ui;
}

/* Tech Grid */
.tech-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 60px 80px;
  max-width: 1100px;
  margin: 0 auto;
}

.tech-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.tech-item:hover {
  transform: translateY(-10px);
}

.tech-icon {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 64px;
  transition: transform 0.3s ease;
}

.tech-item:hover .tech-icon {
  transform: scale(1.1);
}

.tech-name {
  font-size: 0.8rem;
  font-weight: 500;
  color: whitesmoke;
  font-family: "Playwrite AU NSW", system-ui;
}

/* Custom SVG Icons */
.tech-icon svg {
  width: 64px;
  height: 64px;
}

/* Responsive */
@media (max-width: 1024px) {
  .tech-grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 50px 60px;
  }

  .skills-title {
    font-size: 42px;
  }
}

@media (max-width: 768px) {
  .tech-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 50px;
  }

  .skills-title {
    font-size: 36px;
  }

  .tech-icon {
    width: 60px;
    height: 60px;
    font-size: 48px;
  }

  .tech-icon svg {
    width: 48px;
    height: 48px;
  }

  .tech-name {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .tech-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 40px;
  }

  .skills-title {
    font-size: 28px;
  }

  .skills-subtitle {
    font-size: 14px;
  }
}

/* MY BUILDS */

.projects {
  width: 95%;
  margin: 0 auto;
}

.section-title {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 10px;
  color: #b0fc51;
  font-weight: 400;
  font-family: "Bitcount Grid Single", system-ui;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px;
}

.card {
  background: linear-gradient(
    rgba(17, 24, 39, 0.4),
    rgba(176, 252, 81, 0.2),
    rgba(3, 7, 18, 0.4)
  );
  border: 3px solid rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 100%;
  position: relative;
  padding: 20px;
  overflow: hidden;
}

.project-image {
  width: 100%;
  height: auto;
}

.project-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.card:hover .project-image img {
  transform: scale(1.05);
}

.card-content {
  display: flex;
  flex-direction: column;
}

.card h3 {
  font-size: 1.3rem;
  margin-bottom: 12px;
  color: white;
  font-weight: 600;
}

.card p {
  color: #9ca3af;
  line-height: 1.6;
  margin-bottom: 20px;
  font-size: 0.7rem;
  flex: 1;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 25px;
}
.tags span i {
  font-size: 1.4rem;
  transition: transform 0.2s ease;
}

.tags span i:hover {
  transform: scale(1.3);
}

.tags span {
  padding: 4px 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.tags span {
  padding: 6px 14px;
  background-color: #1f2937;
  color: #60a5fa;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: 500;
  transition: all 0.2s ease;
}

.tags span:hover {
  background-color: #374151;
  transform: translateY(-2px);
}

.project-links {
  display: flex;
  gap: 12px;
  margin-top: auto;
}

.live-link,
.github-link {
  padding: 5px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.95rem;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: all 0.3s ease;
  flex: 1;
  justify-content: center;
}

.live-link {
  background-color: #b0fc51;
  color: black;
}

.live-link:hover {
  background-color: #374151;
  color: white;
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(68, 239, 108, 0.3);
}

.github-link:hover {
  background-color: transparent;
  background-color: #fff;
  color: #181818;
  border: 1px solid #374151;
}

.github-link {
  background-color: #374151;
  color: white;
  transform: translateY(-2px);
  border-color: #4b5563;
}

/* CONTACT */

.container {
  margin: auto;
  margin-top: 9rem;
  margin-bottom: 9rem;
  width: 95%;
}

.contact-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 24px;
  height: fit-content;
  overflow: hidden;
  box-shadow: 0 0 12px #b0fc51;
}

.left-panel {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  /* border: 1px solid rgba(255, 255, 255, 0.1); */
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Playwrite AU NSW", system-ui;
}

.left-panel h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #b0fc51;
  line-height: 1.2;
}

.left-panel p {
  color: #e5e7eb;
  font-size: 1rem;
  margin-top: 20px;
  font-weight: 700;
  font-family: lato, sans-serif;
  font-style: italic;
}

.cta-button:hover {
  background: #22d3ee;
  transform: scale(1.05);
}

.right-panel {
  background: linear-gradient(
    135deg,
    rgba(17, 24, 39, 0.4) 0%,
    rgba(176, 252, 81, 0.3),
    rgba(3, 7, 18, 0.4) 100%
  );
  padding: 1.5rem;
}

.right-panel h2 {
  font-size: 32px;
  font-weight: 700;
  color: #b0fc51;
  margin-bottom: 10px;
  font-family: "Playwrite AU NSW", system-ui;
}

.form-group {
  margin-bottom: 12px;
}

.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}

.form-group label {
  display: block;
  color: #9ca3af;
  font-size: 14px;
  font-weight: 500;
}

.form-group input,
.form-group textarea {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
}

.form-group input:focus,
.form-group textarea:focus {
  border-bottom-color: #67e8f9;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
  color: rgba(255, 255, 255, 0.3);
}

.form-group textarea {
  resize: none;
}

.submit-button {
  background: #b0fc51;
  color: #181818;
  border: none;
  padding: 16px 48px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 16px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.3);
}

.submit-button:hover {
  transform: scale(1.05);
  color: #b0fc51;
  background: rgb(41, 39, 39);
}

.contact-icons {
  font-size: 2.2rem;
  gap: 30px;
  display: flex;
  margin-bottom: 3rem;
}
.icon-link {
  transition: all 0.3s ease;
  cursor: pointer;
}

.git {
  color: white;
}
.git :hover {
  scale: 1.5;
  transition: all 0.5s ease-in-out;
  transform: rotate(360deg);
}

.x {
  color: white;
}
.x :hover {
  color: whitesmoke;
  scale: 1.5;
  transition: all 0.5s ease-in-out;
  transform: rotate(360deg);
}

.dis {
  color: rgb(135, 38, 246);
}
.dis :hover {
  scale: 1.5;
  transition: all 0.5s ease-in-out;
  transform: rotate(360deg);
}

.lin {
  color: rgb(17, 128, 246);
}
.lin :hover {
  scale: 1.5;
  transition: all 0.5s ease-in-out;
  transform: rotate(360deg);
}

.tel {
  color: rgb(17, 128, 246);
}
.tel :hover {
  scale: 1.5;
  transition: all 0.5s ease-in-out;
  transform: rotate(360deg);
}

/* RESPONSIVENESS */

@media (max-width: 600px) {
  .fixed.left-0.w-16 {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  #first_section {
    margin-right: auto;
  }
  #first-section {
    position: fixed;
    width: 100%;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border-bottom: 1px solid rgba(24, 210, 7, 0.212);
    z-index: 1000;
    transition: all 0.3s ease;
    height: 10%;
  }
  #first-section h1 {
    color: #b0fc51;
    font-family: "Bitcount Grid Single", system-ui;
    font-weight: 500;
  }

  #first-section .navbar-content {
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }

  #first-section .nav-links {
    max-height: 0;
    opacity: 0;
    transition:
      max-height 0.3s ease,
      opacity 0.3s ease;
  }

  #first-section.menu-open .nav-links {
    max-height: 300px;
    opacity: 1;
    padding: 20px;
  }

  #first-section.expanded {
    height: auto;
  }

  #first-section.expanded .nav-links {
    max-height: 300px;
    opacity: 1;
    padding: 20px;
  }
  .about-card {
    width: 95%;
    height: 100%;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
  .about-card p {
    font-size: 0.9rem;
    font-family: "Playwrite AU NSW", system-ui;
  }
  #passion {
    font-size: 2rem;
  }
  .head-icon {
    display: flex;
  }
  .head-icon a {
    font-size: 1.8rem;
  }
  #soft {
    font-size: 1.8rem;
  }
  .soft {
    display: flex;
    flex-direction: column;
  }
  .hey {
    width: 100%;
  }
  .hey p {
    font-family: "Playwrite AU NSW", system-ui;
    font-weight: 200;
    font-size: 0.9rem;
  }
  .first-pic {
    margin: auto;
    margin-bottom: 0.5rem;
    margin-top: 3rem;
  }

  .mobile-nav {
    margin-top: auto;
  }
  .hamburger {
    color: #b0fc51;
  }
  .skills-container {
    width: 90%;
    margin: auto;
    margin-bottom: 5rem;
  }
  .skills-subtitle{
font-size: 1.5rem;
  }
  .skills-title{
font-size: 0.7rem;
  }
  .projects-grid {
    margin: auto;
    width: 100%;
    gap: 50px;
  }
  .card {
    width: 95%;
    display: flex;
    margin: auto;
  
  }
   .card-content{
    margin-top: -7rem;
  }
  .projects-grid {
    grid-template-columns: 1fr;
  }
  .container {
    width: 95%;
    margin: auto;
    margin-bottom: 3rem;
  }
  .contact-wrapper {
    box-shadow: 0 0 12px #b0fc51;
  }
}

@media screen and (min-width: 601px) {
  .main-content {
    margin-left: 4rem; /* same as w-16 */
  }
  #first-section {
    display: none;
  }
}

@media (max-width: 1024px) {
  .contact-wrapper {
    grid-template-columns: 1fr;
  }

  .left-panel,
  .right-panel {
    padding: 60px 40px;
  }

  .left-panel h1 {
    font-size: 48px;
  }
}

@media (max-width: 768px) {
  .form-row {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .left-panel h1 {
    font-size: 40px;
  }

  .left-panel,
  .right-panel {
    padding: 40px 30px;
  }
}

@media (max-width: 1024px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  .projects {
    /* padding: 40px 15px; */
    margin: auto;
  }

  .section-title {
    font-size: 2.5rem;
  }

  .card-content {
    padding: 10px;
  }

  .card h3 {
    font-size: 1.5rem;
  }

  .project-image {
    height: 300px;
    width: 100%;
  }
}
@media (min-width: 700px) and (max-width: 913px) {
  .about-card {
    width: 95%;
    height: 100%;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
  .about-card p {
    font-size: 0.9rem;
    font-family: "Playwrite AU NSW", system-ui;
  }
  .about-image {
    height: 400px;
  }
  #passion {
    font-size: 2rem;
  }
  .head-icon {
    display: flex;
  }
  .head-icon a{
    font-size: 2rem;
  }
  #soft {
    font-size: 2rem;
  }
  .soft {
    display: flex;
    flex-direction: column;
  }
  .hey {
    width: 100%;
  }
  .hey p {
    font-family: "Playwrite AU NSW", system-ui;
    font-weight: 200;
    font-size: 0.9rem;
  }
  .first-pic {
    margin: auto;
    margin-bottom: 0.5rem;
    margin-top: 3rem;
  }

  .mobile-nav {
    margin-top: auto;
  }
  .hamburger {
    color: #b0fc51;
  }
  .skills-container {
    width: 90%;
    margin: auto;
    margin-bottom: 5rem;
  }
  .projects-grid {
    margin: auto;
    width: 100%;
    gap: 50px;
  }
  .card {
    width: 95%;
    height: fit-content;
    display: flex;
    margin: auto;
  }
 
  .projects-grid {
    grid-template-columns: 1fr;
  }

  .container {
    width: 95%;
    margin: auto;
    margin-bottom: 3rem;
    margin-top: 5rem;
  }
  .contact-wrapper {
    box-shadow: 0 0 12px #b0fc51;
  }
}
@media (min-width: 914px) and (max-width: 1033px) {
  .first {
    display: flex;
    flex-direction: column;
  }
  .about-card {
    width: 95%;
    height: 100%;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
  .about-card p {
    font-size: 1rem;
    font-family: "Playwrite AU NSW", system-ui;
  }

  #passion {
    font-size: 2rem;
  }
  .head-icon {
    margin-top: 2rem;

    display: flex;
    justify-content: space-evenly;
  }
  .head-icon a {
    font-size: 3rem;
  }
  .hire-me-cont {
    margin: auto;
  }
  .hire-me {
    font-size: 2rem;
    width: 400px;
  }
  #soft {
    font-size: 3rem;
  }
  #ray {
    font-size: 3rem;
  }
  .hey {
    width: 100%;
    margin-top: -1rem;
  }
  .hey p {
    font-family: "Playwrite AU NSW", system-ui;
    font-weight: 200;
    font-size: 1.2rem;
  }
  .first-pic {
    margin: auto;
    width: 600px;
    height: 900px;
  }

  .hamburger {
    color: #b0fc51;
  }
  .skills-container {
    width: 98%;
    /* margin: auto; */
    margin-bottom: 5rem;
  }
  .projects-grid {
    margin: auto;
    width: 100%;
    gap: 50px;
  }
  .card {
    width: 95%;
    height: fit-content;
    display: flex;
    margin: auto;
  }
  .projects-grid {
    grid-template-columns: 1fr;
  }
  .card-content{
  margin-top: 1rem;
}
  .container {
    width: 95%;
    margin: auto;
    margin-bottom: 3rem;
    margin-top: 5rem;
  }
  .contact-wrapper {
    box-shadow: 0 0 12px #b0fc51;
  }
  .about-img {
    height: 400px;
    width: 300px;
  }
}

@media (min-width: 114px) and (max-width: 1033px) {
  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }
}
